.btn {
  padding: 12px 16px;
  min-width: 100px;
  color: white;
  font-weight: bold;
  background: var(--color-main);
  border: 1px solid var(--color-main);
  border-radius: var(--border-r);
  cursor: pointer;
  transition: background .8s;
  outline: none;

  &:hover {
    background: var(--color-main-light);
  }
}

.disabled {
  background: #eee;
  border-color: #eee;
  color: #aaa;
  cursor: not-allowed;
}
