.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  min-width: 360px;

  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
}
.card {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 16px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  background: white;
  border: 1px solid black;
  border-radius: var(--border-r);
  font-size: 14px;
}

.title {
  font-size: 1.8em;
  margin: 0 0 8px;
}
.date {
  width: 100%;
  text-align: right;
  font-style: italic;
}
